*{
	font-family:arial, helvetica, sans-serif;
}



/*Font Face*/

@font-face {
    font-family: 'interstate_extralight';
    src: url('../fonts/interstate_extralight/interstate_extralight-webfont.woff2') format('woff2'),
         url('../fonts/interstate_extralight/interstate_extralight-webfont.woff') format('woff'),
         url('../fonts/interstate_extralight/interstate_extralight-webfont.ttf') format('truetype'),
         url('../fonts/interstate_extralight/interstate_extralight-webfont.svg#interstateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'interstate_light';
    src: url('../fonts/interstate_light/interstate_light-webfont.woff2') format('woff2'),
         url('../fonts/interstate_light/interstate_light-webfont.woff') format('woff'),
         url('../fonts/interstate_light/interstate_light-webfont.ttf') format('truetype'),
         url('../fonts/interstate_light/interstate_light-webfont.svg#interstateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'interstate_regular';
    src: url('../fonts/interstate_regular/interstate_regular-webfont.woff2') format('woff2'),
         url('../fonts/interstate_regular/interstate_regular-webfont.woff') format('woff'),
         url('../fonts/interstate_regular/interstate_regular-webfont.ttf') format('truetype'),
         url('../fonts/interstate_regular/interstate_regular-webfont.svg#interstateregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Grid System*/
.r9-main-container{
	width: 100%;
    max-width: 692px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.r9-row{
	width: 100%;
	display: block;
	float: left;

}

.r9-row .r9-column:first-of-type{
	padding-left: 0 !important
}

.r9-row .r9-column:last-of-type{
	padding-right: 0 !important
}

.r9-column{
	float: left;
	padding: 0 10px 0 10px;
	box-sizing:border-box;
}

.r9-column.colspan-1{
	width:11.1111%;
}

.r9-column.colspan-2{
	width: 22.2222%;
}

.r9-column.colspan-3{
	width: 33.3333%;
}

.r9-column.colspan-4{
	width: 44.4444%;
}

.r9-column.colspan-5{
	width: 55.5555%
}

.r9-column.colspan-6{
	width: 66.6666%
}
.r9-column.colspan-7{
	width: 77.7777%
}
.r9-column.colspan-8{
	width: 88.8888%
}
.r9-column.colspan-9{
	width: 100%
}
/*---grid system---*/

/*Typography*/
.arial{
	font-family: Arial, helvetica, sans-serif
}

.interstate{
	font-family:"interstate_regular";
}

.interstate.light{
	font-family:"interstate_light";
}

.interstate.xlight{
	font-family:"interstate_extralight";
}

.arial.black, .interstate.black{
	color:#333;
}
.arial.white, .interstate.white{
	color:#fff;
}
.arial.gray, .interstate.gray{
	color:#666;
}
.arial.blue, .interstate.blue{
	color:#0076c0;
}
.arial.red, .interstate.red{
	color:#d60000;
}

.arial.bold, .interstate.bold{
	font-weight: bold;
}

.arial.italic, .interstate.italic{
	font-style:italic;
}

.page-title{
	font-family: "interstate_light";
	font-size: 26px;
	color:#333;
}

.headline-1{
	font-family: "interstate_extralight";
	font-size: 32px;
	color:#333;
	margin:0px;
	margin-bottom: 30px;
}

.headline-2{
	font-family: "interstate_light";
	font-size: 22px;
	color:#333;
	margin-bottom: 30px;
}

.headline-3{
	font-family: "interstate_light";
	font-size: 18px;
	color:#333;
}

.body-copy{
	font-size: 14px;
	color:#333; 
	margin-bottom: 0px;
}

label{
	font-size: 14px;
	color:#333;
}

.placeholder{
	font-style: italic;
	font-size:14px;
	color:#666666;
}

.tbl-content{
	font-size: 12px;
	color:#333
}

.error-msg{
	font-size: 14px;
	color:#D60000;
}

.plain-link{
	font-size: 14px;
	color:#0076c0;
	cursor: pointer;
}

.plain-link:hover{
	text-decoration: underline;
}

.plain-link-bold{
	font-size: 14px;
	font-weight: bold;
	color:#0076c0;
	cursor: pointer;
}

.plain-link-bold:hover{
	text-decoration: underline;
}

.help-tooltip{
	padding: 1px 5px;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    text-decoration: none !important;
}

.help-tooltip:hover{
	border: 1px solid #0076c0;
	background: #0076c0;
	color: white;
}

.bottom-divider{
	height: 30px;
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin-bottom: 18px;
}

.btn-wrapper{
	width: 100%
}

.btn-wrapper .btn:first-of-type{
	margin-left: 0px;
}

.btn-wrapper .secondary-link{
	display: flex;
	justify-content:center;
}

.btn-wrapper .secondary-link::before{
	margin-right: 5px;
}

.btn{
	box-sizing: border-box;
    padding: 13px 20px !important;
    text-align: center;
    float: left;
    white-space: nowrap;
    display: inline-block;
    height: 42px;
    vertical-align: middle;
    cursor: pointer;
    margin:0px 10px;
}

.btn.colspan-2{
	width: 140px;
}

.btn-primary{
	background: #0076c0;
	color: white;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #0076c0
}

.btn-primary:hover{
	border: 1px solid #0076c0;
	background: #fff;
	color: #0076c0
}

.btn-secondary{
	border: 2px solid #0076c0;
	background: #fff;
	color: #0076c0;
	font-size: 14px;
	font-weight: bold;
}

.btn-secondary:hover{
	border: 2px solid white;
	outline: 1px solid #0076c0;
	background: #fff;
	color: #0076c0;
	font-size: 14px;
	font-weight: bold;
}

.secondary-link{
	font-size: 14px;
	font-weight: bold;
	color:#0076c0;
}

.secondary-link:hover{
	text-decoration: underline;
}

.secondary-link::before{
	content:"";
	width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #0076c0;
    float: left;
    margin-top: 4px;
    margin-right:5px;
}

.tt-text-link{
	font-size: 14px;
	color: #333;
	cursor: pointer;
}

.tt-text-link:hover::after{
	content:"?";
	padding: 1px 5px;
    cursor: pointer;
    border: 1px solid #0076c0;
    background: #0076c0;
    color: white;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
}

.tt-text-link::after{
	content:"?";
	padding: 1px 5px;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
}

.tt-text-link span:first-of-type{
	border-bottom: 1px dashed #333;
	margin-right: 10px;
}

.bulleted-list .headline-3{
	margin-bottom: 18px;
}

.bulleted-list ul, .checked-list ul{
	font-size: 14px;
	color:#333;
	padding-left: 15px;
	padding-right: 0px;
}

.bulleted-list li, .cta-list li, .checked-list li, .numbered-list li{
	margin-top: 0px;
	margin-bottom: 18px;
}

.cta-list ul, .checked-list ul, .numbered-list ol{
	text-indent: none;
	text-decoration: none;
	list-style-type: none;
	padding-left: 0px;
	font-size: 14px;
}

.cta-list li{
	color:#0076c0;
	font-weight: bold
}

.cta-list li::before{
	content:"";
	width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #0076c0;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
}

.checked-list li::before{
	content:"\2713";
	color:#006e0a;
    font-weight: bolder;
    margin-right: 10px;
}

.checked-list li{
	margin-bottom: 14px;
}

.numbered-list ol { 
    counter-reset: item;
    list-style-type: none;
}

.numbered-list li { 
	display: block; 
}

.numbered-list li:before { 
    content: counter(item) " ";
    counter-increment: item;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}

.disclaimer{
	font-size:12px;
	color:#333;
}

.disclaimer .plain-link-bold{
	font-size: 12px
}

.disclaimer .secondary-cta{
	color:#0076c0;
	font-size:12px;
	font-weight: bold;
	cursor:pointer;
}

.disclaimer .secondary-cta::before{
	content:"";
	width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #0076c0;
   	display: inline-block;
    margin-top: 4px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer
}

.all-req{
	font-size: 14px;
	color:#333;
	font-style: italic;
	margin:0px;
	margin-bottom: 42px;
}

/*Forms*/

.form-wrapper{
	width: 100%;
	margin-top:42px;
}

.form-group{
	width:100%;
}

.form-group label{
	float: left;
	width: 100%;
	font-size: 14px;
	color:#333;
	margin-top: 0px;
	margin-bottom: 18px;
}

.form-group select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    padding-left: 10px;
    border: 1px solid #CCC;
    border-right: none;
    background: url(../img/dd-chevron.png) no-repeat;
    background-position: center right;
    margin-top:12px;
}

.input-group{
	width: 100%;
	float: left;
	margin-bottom: 22px;
}

.input-group label{
	float: left;
	width: auto;
	margin-bottom: 0px;
}

.input-group input{
	float: left;
}

.input-group input[type="text"]{
	margin-top:12px;
    height: 42px;
    box-sizing: border-box;
    border: 1px solid #CCC;
    width: 100%;
    padding-left: 10px;
}

.input-group input[type="radio"]{
	margin:0px;
	margin-right: 20px;
}

.input-group:last-of-type{
	margin-bottom: 0px;
}

.labeled-input, .datepicker-input{
	position: relative;
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 12px;
}

.labeled-input span, .datepicker-input span{
	display: block;
	width: auto;
	min-width: 42px;
	height: 42px;
	box-sizing:border-box;
	border: 1px solid #ccc;
	font-size:14px;
	color: #333;
	background: #eee;
	padding-top: 12px;
	padding:12px 10px 0 10px;
	white-space: nowrap;
}

.datepicker-input span{
	background-color: #eee;
	background: url(../img/dp-calendar.png)no-repeat center #eee;
}

.labeled-input.left-label span, .datepicker-input.left-label span{
	position: absolute;
	left: 0;
	top:0;
}

.labeled-input.right-label span, .datepicker-input.right-label span{
	position: absolute;
	right: 0;
	top:0;
}

.labeled-input input, .datepicker-input input{
	height: 42px;
    box-sizing: border-box;
    border: 1px solid #CCC;
    width: 100%;
    padding-left: 60px;
    margin-top:0px !important;
}

.labeled-input.left-label input, .datepicker-input.left-label input{
	padding-left: 60px;
}

.labeled-input.right-label input, .datepicker-input.right-label input{
	padding-left: 10px;
}

.datepicker-input.left-label input{
	padding-left: 50px;
}












.grid-system .r9-column {
	background: #f5f5f5;
	box-shadow:0px 0px 0px 1px #c5c5c5 inset;
}

p{
	font-size: 20px;
}

section{
	float: left;
	border-radius: 10px;
}

.text-center{
	text-align: center;
}

.pull-left{
	float: left;
}

section.page-sample{
	    border: 1px solid #ccc;
    width: 100%;
    border-radius: 0;
    padding-bottom: 20px
}

